body {
  background-color:#dbf6f2;
}

aside {
  background-color:#cbfaf3;
  width: 275px;
  float: right;
  margin-right: 150px;
  margin-left: 100px;
}

button{
  background-color: #3cbfae;
}

html,body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Muli', sans-serif;
}